.results {
  margin-left: 135px;
  margin-top: 100px;
}

.resultItem {
  background-color: rgba(255, 255, 255, 1);
  width: 785.56px;
  height: auto;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 10px;

}

.hospitaldiv {
  display: flex;
  padding: 20px;
  gap: 10px;
}

.ratingicon {
  background-color: rgba(0, 165, 0, 1);
  width: 50.08px;
  height: 25.5px;
  padding: 4.5px 7.49px 4px 10.8px;
  gap: 2.79px;
  border-radius: 5px;
 
  display: flex;
  align-items: center;
  color: white;

}

.searchWrapper {
  background-color: var(--primary-bg-color);
  
}

.hospitaldetails {
  width: 339.55px;
  height: 220.38px;
  padding: 43px 12.55px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hospitaldetails h3 {
  color: rgba(20, 190, 240, 1);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
}
.hospitaldetails h5 {
  color: rgba(65, 65, 70, 1);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.6px;
  text-align: left;
}

.free {
  color: rgba(2, 164, 1, 1);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.6px;
  text-align: left;
}

.currency {
  text-decoration: line-through;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: rgba(120, 120, 135, 1);
  padding: 5px;
}

.p {
  color: rgba(65, 65, 70, 1);
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
}

.hospitaldetails2 {
  display: flex;
  flex-direction: column;
  margin-top: 140px;
  text-align: center;
  gap: 10px;
}

.hospitaldetails2 {
  color: rgba(1, 164, 0, 1);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
  text-align: center;
}

.bar{
    position: relative;
    top: -710px;
  
}

.resultspan{
    display: flex;
    gap: 10px;
   
}


.tabcomponent{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-top: 2px solid rgba(42, 167, 255, 1); */
}

.bookbtn{
  background-color: var(--secondary-bg-color);
  border: 0;
  border-radius: 5px;
  height: 40px;
  color: white;
  cursor: pointer;
}